<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index _test</title>
    <style>
        .header {
            height: 50px;
            width:100%;
            background:red;
        }
        .contain {
            height: 500px;
            width:100%;
            background:green;
        }
        .footer {
            height: 50px;
            width:100%;
            background:gray;
        }
    </style>
</head>
<body>
<div class="header">

    <h1>This is index Page</h1>
</div>
<div class="contain">

    <h1>This is contain</h1>
</div>
<div class="footer">

    <h1>This is footer</h1>
</div>
</body>
</html>